/*Style Sheet for Carl Sagan*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
/*START OF LANDING PAGE*/
.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(https://i.imgur.com/OYtVkO4.jpg) no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
}
.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
.credit .btn{
	bottom: 0;
	right: 0;
	max-width: none;
	text-align: right;
	position: absolute;
}
.content {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}
.content h1 {
	font-family: Georgia;
	color: #F9F3F4;
	font-size: 500%;
}
.btn {
	border-radius: 9px;
	font-family: Oswald, sans-serif;
	color: #F9F3F4;
	font-size: 135%;
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
}
.btn:hover{
	color: #C8C8C8;
}
/*MOBILE*/
@media screen and (max-width: 768px) {
	.content h1 {
		font-size: 250%;
	}
	.btn {
		font-size: 110%;
		padding: 7px 15px;
	}
	
}
/*END OF LANDING PAGE*/
