/*Style Sheet for Carl Sagan*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #FFF;
}
a {
	color: inherit;
}
a:hover {
	color: #6C6C6C;
}
/*START OF LANDING PAGE*/
.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(https://www.dropbox.com/s/h07myisnbykr80u/dino-reichmuth-90731.jpg?raw=1) no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
}
.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
.credit .btn{
	bottom: 0;
	right: 0;
	max-width: none;
	text-align: right;
	position: absolute;
}
.content {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}
.content h1 {
	font-family: Georgia;
	color: #F9F3F4;
	font-size: 500%;
}
.btn {
	border-radius: 9px;
	font-family: Oswald, sans-serif;
	color: #F9F3F4;
	font-size: 135%;
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
}
.btn:hover{
	color: #C8C8C8;
}
/*MOBILE*/

/*END OF LANDING PAGE*/
.main {
	width: 60%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}
.information {
	background-color: #E6E6E6;
	border-radius: 12px;
	padding: 1px 10px 5px 10px;
	margin: 40px;
	font-family: sans-serif;
	
}
.information h2 {
	text-align: center;
	font-family: Oswald, sans-serif;
	text-transform: uppercase;
}
.information .btn {
	color: black;
	font-size: 100%;
}
.center {
	width: 60%;
	margin: 0 auto;
	text-align: left;
}
.information .btn:hover {
	color: #6C6C6C;
}
.heading-image {
	width:60%;
	height: 50%;
	margin: 0 auto;
	margin-top: 40px;
	border-radius: 12px;
}
.heading-image img {
	max-width: 100%;
	max-height: 100%;
}
.information a {
	text-decoration: none;
}
@media screen and (max-width: 768px) {
	.content h1 {
		font-size: 250%;
	}
	.btn {
		font-size: 110%;
		padding: 7px 15px;
	}
	.main {
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
	background-color: #E6E6E6;
	}
	.information {
	background-color: #E6E6E6;
	border-radius: 0;
	padding: 10px;
	margin: 0;
	font-family: sans-serif;
	}
	.heading-image {
	width:100%;
	height: 50%;
	margin: 0 auto;
	border-radius: 0;
	}
	.heading-image img {
	max-width: 100%;
	max-height: 100%;
	min-width: 100%;
	min-height: 100%;
	}

	#life-image {
		width:60%;
	}
}
